<%- include('header.ejs') %>

    <div class="container-fluid d-flex align-items-center flex-column">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>heureDebutReel</th>
                    <th>heureFinReel</th>
                    <th>salle</th>
                    <th>code</th>
                    <th>identite</th>
                </tr>
            </thead>

            <tbody>
                <% Interventions.forEach(function(entry) { %>
                    <tr>
                        <td>
                            <%= new Date(entry.heureDebutReel).getTime()+'-'+new Date(entry.heureDebutReel).getFullYear();%>
                        </td>
                        <td>
                            <%= entry.heureFinReel %>
                        </td>
                        <td>
                            <%= entry.salle %>
                        </td>
                        <td>
                            <%= entry.code %>
                        </td>
                        <td>
                            <%= entry.identite %>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
    </div>