<%- include('header.ejs') %>

    <div style="margin-left: 7px; margin-top: 7px;" class="inputcontrol">
        <label for="search">
            <img src="">
        </label>
        <input type="text" onkeyup="recherche()" id="myInput" placeholder="Rechercher une intervention">
    </div>


    </div>

    <div class="container-fluid d-flex align-items-center flex-column">
        <table class="table table-striped" id="myTable">
            <thead>
                <tr class="header">
                    <th>Identité</th>
                    <th>Code</th>
                    <th>Salle</th>
                    <th>Date</th>
                    <th>Heure d'entrée prévue</th>
                    <th>Heure d'entrée Réelle</th>
                    <th>Heure de sortie Réelle</th>
                </tr>
            </thead>

            <tbody>
                <% Interventions.forEach(function(entry) { %>
                    <tr>
                        <td>
                            <p>
                                <%= entry.identite %>
                            </p>
                        </td>
                        <td>
                            <p>
                                <%= entry.code %>
                            </p>
                        </td>
                        <td>
                            <p>
                                <%= entry.salle %>
                            </p>
                        </td>
                        <td>
                            <p>
                                <%= new Date(entry.heureDebutPrevu).getDate()+'-'+(new Date(entry.heureDebutPrevu).getMonth()+1)+'-'+new Date(entry.heureDebutPrevu).getFullYear();%>
                            </p>
                        </td>
                        <td>
                            <p>
                                <%= new Date(entry.heureDebutPrevu).getHours()+' h '+new Date(entry.heureDebutPrevu).getMinutes();%>
                            </p>

                        </td>
                        <td>
                            <p>
                                <%= new Date(entry.heureEntreeReelle).getHours()+' h '+new Date(entry.heureEntreeReelle).getMinutes();%>
                            </p>
                        </td>
                        <td>
                            <p>
                                <%= new Date(entry.heureSortieReelle).getHours()+' h '+new Date(entry.heureSortieReelle).getMinutes();%>
                            </p>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>

        <script>
            function recherche() {
                // Declare variables
                console.log("on est dedans");
                var input, filter, table, tr, td, i, txtValue;
                input = document.getElementById("myInput");
                filter = input.value.toUpperCase();
                table = document.getElementById("myTable");
                tr = table.getElementsByTagName("tr");

                // Loop through all table rows, and hide those who don't match the search query
                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[0];
                    if (td) {
                        txtValue = td.textContent || td.innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
        </script>
    </div>